{{#if message}}
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{message}}
  </div>
{{/if}}

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This site is under construction. You may visit my <a href="http://www.about.me/renusrinivasan">about me page</a> in the meanwhile!</p>
</div>
